<body>
  <% layout('./layouts/sidebar') -%>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Container fluid  -->
      <!-- Container fluid  -->
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Create ERC 223 Contract</h4>
            <div class="row">
              <div class="col-md-8">
                <% if (message2.length >0) { %>
                  <div class="alert alert-danger">
                    <%= message2 %>
                  </div>
                  <% } %>
                    <form class="form-horizontal m-t-20" id="createContract" action="/createERC223Contract" method="post">
                      <div class="form-group">
                        <label for="tokenName">Coin Name</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="token_name" name="token_name" placeholder="Enter Token Name">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Enter name of the project without spaces, usually 5-25 symbols. Lower and uppercase can be used"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="token_name_error"></span>
                      </div>

                      <div class="form-group">
                        <label for="tokenSymbol">Coin Symbol</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="token_symbol" id="token_symbol" placeholder="Enter Token Symbol">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Enter Token Symbol (eg. ETH, BTC, XDC)"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="token_symbol_error"></span>
                      </div>

                      <div class="form-group">
                        <label for="tokenDecimals">Coin Decimals</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="token_decimals" id="token_decimals" value="18">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Enter Token Decimals (eg. 18)"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="token_decimals_error"></span>
                      </div>

                      <!-- <div class="form-group">
                        <label for="tokenValue">Coin Value</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="token_value" id="token_value" value="USDT0.10">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Coin Value : USDT0.10"><i class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="token_decimals_error"></span>
                      </div> -->

                      <!--<div class="form-group">
                        <label for="totalSupply">Total Supply</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="token_supply" id="token_supply" placeholder="Enter Total Supply">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Enter Total Supply (eg. 1000000000000)"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="token_supply_error"></span>
                      </div>-->
					  <div class="form-group">
                      	<label for="totalSupply">Total Supply</label>
							<div class="input-group mb-3">
								<select id="token_supply" name="token_supply" class="form-control">
									<option value="0" selected>Select Total Supply</option>
									<option value="500000">500,000</option>
									<option value="4000000">4,000,000</option>
									<option value="10000000">10,000,000</option>
									<option value="100000000">100,000,000</option>
									<option value="250000000">250,000,000</option>
									<option value="1000000000">1,000,000,000</option>
									<option value="10000000000">10,000,000,000</option>
								</select>
							<div class="input-group-append">
                            	<button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Select Total Supply from dropdown (eg. 5,00,000)"><i class="ti-help-alt"></i></button>
                            </div>
					  	</div>
						<span class="alert-danger" id="token_supply_error"></span>
                      </div>
									
                      <div class="form-group">
                        <div class="ts-details d500000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 1,000VN <span>(USDT100)</span></p>
                      </div>
                      <div class="ts-details d4000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 5,000VN <span>(USDT500)</span></p>
                      </div>
                      <div class="ts-details d10000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 10,000VN <span>(USDT1000)</span></p>
                      </div>
                      <div class="ts-details d100000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 50,000VN <span>(USDT5000)</span></p>
                      </div>
                      <div class="ts-details d250000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 100,000VN <span>(USDT10,000)</span></p>
                      </div>
                      <div class="ts-details d1000000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 250,000VN <span>(USDT25,000)</span></p>
                      </div>
                      <div class="ts-details d10000000000">
                        <p>1 Coin = USDT0.1</p>
                        <p>Fees = 500,000VN <span>(USDT50,000)</span></p>
                        </div>
                    </div>

                      <!-- <div class="form-group">
                        <label for="1ETHTokens">1 ETH = ? <span id="tokenname">Tokens</span></label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="eth_tokens" id="eth_tokens" placeholder="Enter token value in ETH">
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="How many tokens will you be able to buy using 1 Eth ?"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                      </div>
                      <span class="alert-danger" id="eth_tokens_error"></span>
                      <div class="form-group">
                        <label for="bonus_rate">Bonus Percentage</label>
                        <div class="input-group mb-3">

                          <input type="text" class="form-control" name="bonus_rate" id="bonus_rate" placeholder="please enter bonus rate in whole Number."><br>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Here you can define bonus rate for crowdsale smartcontract. In case any changes in future you can change bonus rate with contract interaction"><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="bonus_rate_error"></span>
                      </div>
                      <div class="form-group">
                        <label for="bonus_rate">Minimum Contribution</label>
                        <div class="input-group mb-3">

                          <input type="text" class="form-control" name="minimum_contribution" id="minimum_contribution" placeholder="please enter minimum contribution."><br>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-circle btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Here you can define minimum contribution value in terms of token."><i
                                class="ti-help-alt"></i></button>

                          </div>
                        </div>
                        <span class="alert-danger" id="minimum_contribution_error"></span>
                      </div> -->
                      <hr>

                      <h4>Advanced Functionalities</h4><br>
                      <div class="row mb-4 ml-1">
                        <div class="checkbox-btn" data-toggle="buttons">
                          <label class="btn btn-checkbox mr-2 active">
                            <input type="checkbox" name="isPausable" checked autocomplete="on"> Pausable
                          </label>
                          <label class="btn btn-checkbox mr-2 active">
                            <input type="checkbox" name="isUpgradeable" checked autocomplete="on"> Upgradeable
                          </label>
                          <label class="btn btn-checkbox mr-2 active">
                            <input type="checkbox" name="isBurnable" checked autocomplete="on"> Burnable
                          </label>
                          <label class="btn btn-checkbox mr-2 active">
                            <input type="checkbox" name="isMintable" checked autocomplete="on"> Mintable
                          </label>
                          <button type="button" class="btn btn-circle btn-tooltip mt-minus-5" data-toggle="modal" data-target="#RUBMModal" data-whatever="@getbootstrap"><i
                              class="ti-help-alt"></i></button>
                        </div>
                      </div>
                      <hr>

                      <div class="form-actions mb-3">
                        <button type="button" id="submitButton" class="btn btn-rounded btn-lg btn-info mr-1" onclick="submitForm()">CREATE</button>
                        <!-- <button type="button" class="btn btn-rounded btn-lg btn-light">Cancel</button> -->
                      </div>

                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Container fluid  -->


    <!-- RUBM modal -->
    <div class="modal fade bs-example-modal-lg" id="RUBMModal" tabindex="-1" role="dialog" aria-labelledby="RUBMModalLabel1">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <h5 class="line-on-side text-dark text-center font-small-3 mx-2 mb-3"><span>Pausable</span></h5>
            <p>Pausing token transfer during some initial period (e.g. while a crowdsale is taking place), to enable pause/release
              transfers
            </p>

            <h5 class="line-on-side text-dark text-center font-small-3 mx-2 mt-4"><span>Upgradeable</span></h5>
            <p>Token issuer may wish to upgrade or migrate the token to a new address to comply with a upgraded or new token
              standard.
            </p>
            <h5 class="line-on-side text-dark text-center font-small-3 mx-2 mt-4"><span>Burnable</span></h5>
            <p>Keeps the token’s “totalSupply” value up to date, Useful in case someone wants to burn some tokens to reduce
              the supply for their project or burn unsold tokens</p>
            <h5 class="line-on-side text-dark text-center font-small-3 mx-2 mt-4"><span>Mintable</span></h5>
            <p>Building distribution / crowdsale logic directly into the token contract or by including a generic mint function
              that can be called by an external contract to establish the initial allocations.</p>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-rounded btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / RUBM modal -->

    </div>
</body>
<script>

  let validTokenName=false, validTokenSymbol=false ,validTokenDecimal=false, validTokenSupply=false;
  window.setTimeout(function () {
    if (window.sessionStorage.getItem("tokenName")) {
      $("#token_name").val(window.sessionStorage.getItem("tokenName"));
      $("#token_symbol").val(window.sessionStorage.getItem("tokenSymbol"));
      $("#token_decimals").val(window.sessionStorage.getItem("tokenDecimals"));
      $("#token_supply").val(window.sessionStorage.getItem("tokenSupply"));
      $("#token_sale").val(window.sessionStorage.getItem("tokenSale"));
      $("#eth_tokens").val(window.sessionStorage.getItem("ethTokens"));
    }
  }, 1000);

  function submitForm() {
    console.log("called submit form");
    window.sessionStorage.setItem("tokenName", $("#token_name").val());
    window.sessionStorage.setItem("tokenSymbol", $("#token_symbol").val());
    window.sessionStorage.setItem("tokenDecimals", $("#token_decimals").val());
    window.sessionStorage.setItem("tokenSupply", $("#token_supply").val());
    window.sessionStorage.setItem("tokenSale", $("#token_sale").val());
    window.sessionStorage.setItem("ethTokens", $("#eth_tokens").val());
    $("#createContract").submit();    
  }

  function canSubmit(){
    if (validTokenDecimal && validTokenName && validTokenSupply && validTokenSymbol) {
      document.getElementById("submitButton").disabled=false;
      return true;
    }
    document.getElementById("submitButton").disabled="disabled";
    return false;
  }
</script>
<script src="assets/libs/bootstrap-switch/bootstrap-switch.min.js"></script>
<script>
  $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
  var radioswitch = function () {
    var bt = function () {
      $(".radio-switch").on("switch-change", function () {
        $(".radio-switch").bootstrapSwitch("toggleRadioState")
      }), $(".radio-switch").on("switch-change", function () {
        $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
      }), $(".radio-switch").on("switch-change", function () {
        $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
      })
    };
    return {
      init: function () {
        bt()
      }
    }
  }();
  $(document).ready(function () {
    radioswitch.init()
  });

  var myInput3 = document.getElementById("token_supply");

  $("#token_supply").on("change",function(){
    const selectedOption = this.value;
    console.log('Current token supply value: ', selectedOption, $("#token_supply option:selected").text());
      if (selectedOption==0) {
      document.getElementById("token_supply_error").innerHTML = 'Please select an option';
      validTokenSupply=false;
    } else {
      document.getElementById("token_supply_error").innerHTML = '';
      validTokenSupply=true
    }
    canSubmit()
  })
  var myInput4 = document.getElementById("token_decimals");
  myInput4.onkeyup = function () {
    if (myInput4.value % 1 != 0 || myInput4.value < 1 || myInput4.value.indexOf(" ") == 0) {
      document.getElementById("token_decimals_error").innerHTML = 'Number should not contain decimal or should be greater then 0';
      validTokenDecimal=false;
    } else {
      document.getElementById("token_decimals_error").innerHTML = '';
      validTokenDecimal=true;
    }
    canSubmit();
  }

  var myInput6 = document.getElementById("token_symbol");
  myInput6.onkeyup = function () {
    if (myInput6.value.length===0||myInput6.value.indexOf(" ") == 0) {
      document.getElementById("token_symbol_error").innerHTML = 'Enter Valid String';
      validTokenSymbol=false;
    } else {
      document.getElementById("token_symbol_error").innerHTML = '';
      validTokenSymbol=true;
    }
    canSubmit();
  }
  var myInput7 = document.getElementById("token_name");
  myInput7.onkeyup = function () {
    if (myInput7.value.length===0||myInput7.value.indexOf(" ") == 0) {
      document.getElementById("token_name_error").innerHTML = 'Enter Valid String';
      validTokenName=false
    } else {
      document.getElementById("token_name_error").innerHTML = '';
      validTokenName=true;
    }
    canSubmit()
  }

  // performing the initial check
  if (myInput7.value.length===0||myInput7.value.indexOf(" ") == 0) {
    validTokenName=false
    } else {
    document.getElementById("token_name_error").innerHTML = '';
    validTokenName=true;
  }
  if (myInput6.value.length===0||myInput6.value.indexOf(" ") == 0) {
    validTokenSymbol=false;
   } else {
    document.getElementById("token_symbol_error").innerHTML = '';
    validTokenSymbol=true;
  }
  if (myInput4.value % 1 != 0 || myInput4.value < 1 || myInput4.value.indexOf(" ") == 0) {
    validTokenDecimal=false;
   } else {
    document.getElementById("token_decimals_error").innerHTML = '';
    validTokenDecimal=true;
  }
  
  if ($("#token_supply option:selected").val()==0){
    validTokenSupply=false;
  }else{
    validTokenSupply=true;
  }
  canSubmit();

</script>

<script>
//function for total supply data dropdown
	$(function () {
		$('.ts-details').hide();
		//$('.d2').show();
		
		$('#token_supply').on("change",function () {
			$('.ts-details').hide();
			$('.d'+$(this).val()).show();
		}).val("0");
	});
</script>

</html>