<body>
  <% layout('./layouts/sidebar') -%>

    <!-- Preloader -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Container fluid  -->
      <div class="container-fluid">
        <div class="card" style="min-height:100px;">
          <div class="card-body">

            <h4 class="card-title text-center">Wallet</h4>
            <hr size="5">
            <!-- <div class="row">
              <div class="col-sm-6 text-center">
                <div class="well">
                  <br>
                  <span>CrowdSale Token Creation (ERC20)</span><br><br>
                  <a href="/customContract" class="btn btn-md btn-rounded btn-info">Create Token</a>
                  <br>
                </div>
              </div>
              <div class="col-sm-6 text-center">
                <div class="well">
                  <br>
                  <span>CrowdSale Token Creation With Additional Security (ERC223)</span><br><br>
                  <a href="/ERC223Contract" class="btn btn-md btn-rounded btn-info">Create Token</a>
                  <br>
                </div>
              </div> 
            </div> -->
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>
    <!-- End Container fluid  -->


    </div>
    <!-- End Page wrapper  -->

    </div>
    <!-- End Wrapper -->



    <div class="chat-windows"></div>
    

</body>
</html>